#widget-datepicker {
    margin-top: 36px;
}
@media screen and (min-width: 400px) {
    #widget-datepicker {
        display: flex;
   }
}
#widget-datepicker .form-item {
    position: relative;
    margin: 12px 0 60px;
}
@media screen and (min-width: 400px) {
    #widget-datepicker .form-item {
        margin: 12px 24px 0 0;
   }
}
#widget-datepicker label {
    display: block;
    margin-bottom: 8px;
    color: black;
}
#widget-datepicker input {
    display: block;
    margin-bottom: 8px;
    padding-bottom: 6px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #0e3e43;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    outline: none;
    transition: border-color 0.2s ease-out;
}
#widget-datepicker input:first-child, #widget-datepicker input:last-child {
    border-radius: 0;
}
#widget-datepicker input::-webkit-input-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    transition: color 0.2s 0.2s ease-out;
}
#widget-datepicker input:-moz-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    transition: color 0.2s 0.2s ease-out;
}
#widget-datepicker input::-moz-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    transition: color 0.2s 0.2s ease-out;
}
#widget-datepicker input:-ms-input-placeholder {
    color: #0e3e43;
    font-size: 14px;
    line-height: 30px;
    transition: color 0.2s 0.2s ease-out;
}
#widget-datepicker input:focus {
    border-bottom-color: #125259;
}
#widget-datepicker input:focus::-webkit-input-placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}
#widget-datepicker input:focus:-moz-placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}
#widget-datepicker input:focus::-moz-placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}
#widget-datepicker input:focus:-ms-input-placeholder {
    color: transparent;
    transition: color 0.2s ease-out;
}
#widget-datepicker .date-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    top: calc(100% + 6px);
    font-size: 12px;
    color: black;
}
@media screen and (min-width: 400px) {
    #widget-datepicker .date-text {
        top: 100%;
   }
}
.datepicker.dropdown-menu {
    padding: 0;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    animation: popup 0.2s ease-out forwards;
}
.datepicker.dropdown-menu table {
    background-color: #1b7983;
}
.datepicker.dropdown-menu table thead {
    background-color: #1b7983;
}
.datepicker.dropdown-menu table thead tr {
    border-top: 0;
}
.datepicker.dropdown-menu table tbody {
    background-color: white;
}
.datepicker.dropdown-menu table tr {
    border-top: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    width: auto;
    height: 24px;
    padding: 8px;
    font-size: 16px;
    border-radius: 0;
    transition: background-color 0.6s ease-out;
}
@media screen and (min-width: 400px) {
    .datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
        padding: 12px;
   }
}
.datepicker.dropdown-menu table tr td:hover, .datepicker.dropdown-menu table tr th:hover, .datepicker.dropdown-menu table tr td.active:hover, .datepicker.dropdown-menu table tr th.active:hover, .datepicker.dropdown-menu table tr td:active:hover, .datepicker.dropdown-menu table tr th:active:hover {
    border-color: #ededed;
    border-radius: 0;
    transition: background-color 0.2s ease-out;
}
.datepicker.dropdown-menu table tr td.focused, .datepicker.dropdown-menu table tr th.focused, .datepicker.dropdown-menu table tr td.selected, .datepicker.dropdown-menu table tr th.selected {
    background-color: #24a0ad;
    border-color: #ededed;
    border-radius: 0;
}
.datepicker.dropdown-menu table tr td.active, .datepicker.dropdown-menu table tr th.active, .datepicker.dropdown-menu table tr td.active:focus, .datepicker.dropdown-menu table tr th.active:focus, .datepicker.dropdown-menu table tr td.active.active:hover, .datepicker.dropdown-menu table tr th.active.active:hover, .datepicker.dropdown-menu table tr td:active:focus, .datepicker.dropdown-menu table tr th:active:focus, .datepicker.dropdown-menu table tr td.highlighted, .datepicker.dropdown-menu table tr th.highlighted {
    background-color: #1b7983;
    border-color: #ededed;
}
.datepicker.dropdown-menu table tr th.datepicker-switch {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: inherit;
    border-radius: 0;
}
.datepicker.dropdown-menu table tr th.prev, .datepicker.dropdown-menu table tr th.next {
    color: #fff;
    background-color: #17656e;
    border-radius: 0;
}
.datepicker.dropdown-menu table tr th.dow {
    padding: 2px 12px;
    font-size: 12px;
    line-height: 2;
    color: #fff;
    background-color: #19717a;
    border-top: 1px solid #196d76;
    border-radius: 0;
}
.datepicker.dropdown-menu table tr td.day {
    width: 24px;
    border-right: 1px solid #ededed;
}
.datepicker.dropdown-menu table tr td.day:last-child {
    border-right-width: 0;
}
.datepicker.dropdown-menu table tr td.range {
    background-color: #eee;
}
.datepicker.dropdown-menu .new, .datepicker.dropdown-menu .old, .datepicker.dropdown-menu .disabled, .datepicker.dropdown-menu .disabled:hover {
    color: #ccc;
}
@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(12px);
   }
    to {
        opacity: 1;
        transform: translateY(0);
   }
}